alembic
altgraph
aniso8601
appdirs
asttokens
attrs
backcall
bcc
bcrypt
blinker
certifi
chardet
chrome-gnome-shell
click
colorama
comm
command-not-found
cryptography
cupshelpers
dbus-python
debugpy
decorator
defer
distlib
distro
dnspython
docopt
EasyProcess
email-validator
entrypoint2
executing
Faker
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-RESTful
flask-restx
Flask-SQLAlchemy
Flask-WTF
formation-studio
greenlet
hidpidaemon
httplib2
idna
importlib-metadata
ipdb
ipykernel
ipython
itsdangerous
jedi
jeepney
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kernelstub
keyring
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
lxml
macaroonbakery
Mako
MarkupSafe
marshmallow
matplotlib-inline
more-itertools
MouseInfo
mss
nest-asyncio
netaddr
netifaces
oauthlib
packaging
parso
pexpect
pickleshare
Pillow
pipenv
pipreqs
platformdirs
pop-transition
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
PyAutoGUI
pycairo
pycups
pydbus
PyGetWindow
Pygments
PyGObject
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pymacaroons
PyMsgBox
PyNaCl
pyparsing
pyperclip
PyRect
pyRFC3339
pyscreenshot
PyScreeze
python-apt
python-dateutil
python-debian
python-dotenv
python-gnupg
python-xlib
python3-xlib
pytweening
pytz
pyxdg
PyYAML
pyzmq
referencing
repolib
repoman
requests
rpds-py
SecretStorage
sessioninstaller
six
SQLAlchemy
SQLAlchemy-serializer
stack-data
systemd-python
tomli
tornado
traitlets
typing_extensions
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
urllib3
virtualenv
virtualenv-clone
wadllib
wcwidth
Werkzeug
WTForms
xdg
xkit
yarg
zipp
